/Montage/OHMontage/OHMontageApp/obj
/Montage/OHMontage/OHMontageApp/bin
/CyberSecurity/Cipher Wheel/bin
/CyberSecurity/Cipher Wheel/obj
/CyberSecurity/Cipher Game/node_modules
/CyberSecurity/Cipher Game/ProjectEFEntities/obj
/CyberSecurity/Cipher Game/ProjectEFEntities/bin
/CyberSecurity/Cipher Game/AWSServerless1/obj
/CyberSecurity/Cipher Game/AWSServerless1/bin
/CyberSecurity/Cipher Game/.vs
/Montage/OHMontage/.vs
/CyberSecurity/Cipher Wheel/.vs
/CyberSecurity/Cipher Game/AWSServerless1/wwwroot
/Techtopia/API/.vs
/Techtopia/API/AWSServerless1/bin
/Techtopia/API/AWSServerless/obj
/Techtopia/API/AWSServerless/bin
/Techtopia/API/AWSServerless1/obj
/Techtopia/API/ProjectEFEntities/bin
/Techtopia/API/ProjectEFEntities/obj
/Techtopia/API/TestAWSServerless/bin
/Techtopia/API/TestAWSServerless/obj
