.map-container {
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    margin-top: 10vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background: #e0e0e0; /* Light background for the map */
    padding: 20px;
    overflow: hidden; /* Prevent overflow */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: #f7eeed repeat; /* Add a texture image for map effect */
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.map-image {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

.button-container {
    position: absolute;
    top: 90%; /* Use percentage for vertical positioning */
    right: 1%; /* Use percentage for horizontal positioning */
    display: flex;
    gap: 15px; /* Space between buttons */
    z-index: 1;
}

.zoom-button {
    background-color: #28a745; /* Soft green */
    color: white;
    border: none;
    border-radius: 50px; /* Rounded button */
    padding: 0.3em 0.9em; /* Use em for responsive padding */
    font-size: 1.5em; /* Use em for responsive font size */
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(40, 167, 69, 0.2);
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 45px; /* Use min-width for responsive sizing */
    min-height: 45px; /* Use min-height for responsive sizing */
}

/* Media query for larger screens */
@media (min-width: 580px) {
    .zoom-button {
        font-size: 2em; /* Increase font size for larger screens */
        padding: 0.5em 0.8em; /* Increase padding for larger screens */
        
    }
    .button-container {
        top: 90%;
    }
}

@media (min-width: 920px) {
    .zoom-button {
        font-size: 2em; /* Further increase font size for extra-large screens */
        padding: 0.5em 1em; /* Further increase padding for extra-large screens */
    }
    .button-container{
        top: 90%;
        right: 1%;
    }
}


.zoom-button:hover {
    background-color: #218838; /* Darker shade on hover */
    transform: translateY(-2px); /* Slight lift effect */
    box-shadow: 0 6px 20px rgba(40, 167, 69, 0.3);
}

.zoom-button:focus {
    outline: none; /* Remove focus outline */
    box-shadow: 0 0 0 4px rgba(40, 167, 69, 0.5); /* Add focus ring */
}


