@page
@model AWSServerless1.Pages.IndexModel
@{
    Layout = @"\Shared\_Layout";
}

<div class="containerColor">
    <h1 class="myHeading">Separate page model</h1>
    <p>
        <h2>@Model.Message</h2>
    </p>
</div>
